# LINE Messaging API
LINE_CHANNEL_ID=checkout-at-line-developer-console
LINE_CHANNEL_SECRET=checkout-at-line-developer-console
LINE_ACCESS_TOKEN=checkout-at-line-developer-console
LINE_WEBHOOK_URL=https://localhost:3000/webhook

# Database 
DATABASE_URL=postgresql://neondb_owner:p4ssW0rD@your.db.neon.tech/neondb?sslmode=require

# Upload Directory
UPLOAD_DIR=./uploads/photos
UPLOAD_PUBLIC_URL=https://localhost:3000/uploads

# CORs
CORS_ORIGIN=http://localhost:5173,https://your.domain.name,https://liff.line.me/liff-url-please